/* .navbar {
  text-transform: uppercase;
} */
/* CSS for navbar hover effect */

/* CSS for dropdown hover effect */
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  border-bottom: 1px solid gray;
}
.dropdown-menu {
  padding: 0;
}

.navbar .nav-link {
  color: var(--bs-link-color);
}

/* .bd-theme .dropdown:hover {
  display: none;
} */
