<div class="scrolling-wrapper-flexbox gap-3" id="horizontal-container">
    {% for article in articles %}
        <a href="{{ article.get_absolute_url }}"
           target="_blank"
           class="news-card-link">
            <div class="card news-card">
                <h6 class="news-title">{{ article.title | safe }}</h6>
                {% if article.news_image %}
                    <img src="{{ article.news_image.url }}"
                         class="news-image"
                         alt="{{ article.title }}">
                {% else %}
                    <div class="news-image-placeholder">
                        <span>No Image</span>
                    </div>
                {% endif %}
            </div>
        </a>
    {% endfor %}
</div>
