<div class="container mt-4">
    <h2>Newsletters</h2>
    <div class="row">
        {% for file in newsletters %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ file.title }}</h5>
                        <a href="{{ file.pdf_file.url }}">
                            <img src="{{ file.photo.url }}"
                                 class="card-img-top"
                                 alt="{{ file.title }}">
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No newsletters found.</p>
        {% endfor %}
    </div>
</div>
