[data-bs-theme="dark"] body {
  background-color: #292a2d; /* Your desired dark mode background color */
  .card {
    background-color: #1f1f1f;
  }
}
[data-bs-theme="light"] body {
  background-color: #f6f8fc;
  .card {
    background-color: #ffff;
  }
}
[data-bs-theme="dark"] .theme-bg {
  background-color: #1f1f1f; /* Dark gray background for dark theme */
  color: white;
}
[data-bs-theme="light"] .theme-bg {
  background-color: #ffffff;
}

[data-bs-theme="light"] .card {
  background-color: #f9f9f9; /* Dark gray background for dark theme */
}
body {
  min-height: 100vh;
}

.custom-img {
  min-width: 500px;
  width: auto; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}

.banner-home {
  position: relative;
  display: inline-block;
}

.banner-container {
  position: relative;
  max-height: 185px;
  width: 100%;
}
.banner-text {
  position: absolute;
  top: 20%;
  /* right: 40%; */
  color: #0b0b0b;
  font-size: max(5vw);
  text-shadow: 1px 1px 2px #a8a8a8;
}

#propose-activity-banner {
  background-color: #17324c;
  width: 100%;
  color: white;
  min-height: 85px;
}

.dropdown-menu {
  font-size: 20px;
}

#workshops-container {
  height: 700px;
  overflow-y: auto;
}

.h-100 {
  height: 100%;
}
.prev-btn {
  background: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  left: -50px;
}

.next-btn {
  background: none;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  right: -50px;
}

.navbar {
  position: relative;
  font-size: 1.2rem;
}

.navbar-nav .dropdown {
  padding-left: 5px;
}

nav {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
@media (min-width: 1180px) {
  .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    border-bottom: 1px solid gray;
  }
  .dropdown {
    position: inherit;
  }
  .dropdown-menu {
    padding: 0;
    width: auto;
  }
}
@media (max-width: 1400px) {
  .d-flex {
    display: block !important;
  }
  .dropdown-menu .d-flex {
    display: block;
  }
}
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}
/* #navbarNavDropdown {
  position: relative;
} */

.navbar .nav-link {
  color: var(--bs-link-color);
}

.corner-position {
  position: absolute;
  inset: auto 0px 0px auto;
  margin: 0px;
  transform: translate3d(0px, -44px, 0px);
}

.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.freeman-regular {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --aimgreen: #8bbf57;
  --aimblue: #578bbf;
  --aimlightblue: #57bfb5;
  --aimdarkblue: #3f72a4;
  --aimpurple: #5757bf;
  --aimbrown: #bf8b57;
  --background: #3f72a4;
  --darkblack: #1f1f1f;
  --buttonPrimary: #75b8b1;
  --lightblack: #292a2d;
  --primary: white;
  --secondary: #fff;
}
footer {
  background-color: gray;
}

.card {
  margin-bottom: 10px;
  border-radius: 10px;
}

.people-banner {
  position: relative;
  height: 140px;
  margin-bottom: 35px;
}

.people-banner img {
  height: 100%;
  width: 100%;
}

.horizontal-list {
  list-style: none; /* Remove default list styles */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.horizontal-list li {
  width: 100%;
}
.horizontal-list li a {
  display: flex; /* Display list items horizontally */
  border-radius: 0;
  border-right: 0.5px solid gray;
  background-color: black;
  color: white;
  text-align: center;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-link {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none; /* Remove default underline */
  border-radius: 5px; /* Button border radius */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Active trait for the buttons */
.btn-link.active {
  background-color: #007bff; /* Blue background color for active state */
}

.individual-staff {
  font-size: 0.875rem;
  background: #1f1f1f;
  padding: 16px;
  margin: 0;
}

.position-tag {
  color: blue;
  padding-bottom: 5px;
}

.nav-link:hover {
  color: var(--aimblue);
}

.header-banner {
  background-color: #1f4467;
  color: #fff;
  padding: 2.5rem;
}

.banner {
  background-color: #5757bf; /* Background color */
  color: #ffffff; /* Text color */
  padding: 20px; /* Padding around the text */
  text-align: center; /* Center-align the text */
  font-size: 36px; /* Font size */
  font-weight: bold; /* Bold font */
  text-transform: uppercase; /* Uppercase text */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.card .nav-link {
  color: white;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}

.card img {
  max-height: 100%;
}

footer .nav-link {
  color: white;
  font-size: 0.85rem;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;

  .card {
    flex: 0 0 auto;
    width: 33%;
    background-color: none;
  }
}

.tab-content {
  background-color: ;
}

h1 {
  font-size: x-large;
}
