{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">AIM Administration</a>
</div>
<div style="padding: 3px 16px 5px;">
    <a href="/timeeffort/" target="_blank"
       style="color: rgba(255,255,255,0.7); font-size: 0.8em; text-decoration: none; letter-spacing: 0.3px;">
        &#8594; Time &amp; Effort Portal
    </a>
</div>
{% endblock %}

{% block title %}{{ title }} | AIM Admin{% endblock %}
