{% load cms_tags sekizai_tags static %}
<div class="row">
    <div class="col-auto">
        <img src="{% static 'images/NSFlogo.png' %}"
             class="img-fluid"
             alt="National Science Foundation logo"
             style="max-height:125px" />
    </div>
    <div class="col-auto">
        <address>
            <strong>American Institute of Mathematics</strong>
            <br />
            1200 E. California Blvd
            <br />
            Pasadena, CA 91125
        </address>
    </div>
    <div class="col">
        <p>
            AIM receives major funding from the
            <br>
            National Science Foundation and
            the Fry Foundation.
        </p>
    </div>
</div>
