{% extends "base.html" %}
{% load static %}
{% block title %}
    template2
{% endblock title %}
{% block content %}
    <section tag="banner">
        <div class="row ps-5 p-2 align-items-center mb-4"
             style="background-color: white;
                    min-height: 250px;
                    color: black">
            <div class="col-auto">
                <img src="{% static 'images/aimlogotransparent.png' %}"
                     style="width: 150px"
                     alt=""
                     class="img-fluid" />
            </div>
            <div class="col poppins-bold">
                <h1>VISITING</h1>
            </div>
        </div>
    </section>
    <div class="container mb-4">
        <div class="row justify-content-around">
            <div class="col-3">
                <div class="d-flex justify-content-center">
                    <div class="nav flex-column nav-pills me-3"
                         id="v-pills-tab"
                         role="tablist"
                         aria-orientation="vertical">
                        <button class="nav-link active"
                                id="v-pills-home-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-home"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-home"
                                aria-selected="true">Code of Conduct</button>
                        <button class="nav-link"
                                id="v-pills-profile-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-profile"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-profile"
                                aria-selected="false">Travel</button>
                        <button class="nav-link"
                                id="v-pills-messages-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-messages"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-messages"
                                aria-selected="false">Local Info</button>
                        <button class="nav-link"
                                id="v-pills-settings-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-settings"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-settings"
                                aria-selected="false">Facilities</button>
                        <button class="nav-link"
                                id="v-pills-settings-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-settings"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-settings"
                                aria-selected="false">Accessibility</button>
                        <button class="nav-link"
                                id="v-pills-settings-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-settings"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-settings"
                                aria-selected="false">FAQ</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9 p-1">
                <div class="bg-body-dark p-3 border border-secondary-subtle h-100">
                    <img src="{% static 'images/pasadena.jpg' %}"
                         class="img-fluid float-end me-3 mb-3"
                         style="max-width: 350px" />
                    <div>
                        <h3>Your Visit</h3>
                        <p class="fs-5">
                            The AIM Facility in Pasadena AIM is located on the eight floor
                            of Caltech Hall on the Caltech campus in Pasadena. The newly
                            renovated space has a lecture area and seminar rooms designed
                            for AIM style workshops and collaborative research. AIM visitors
                            can connect to the Caltech network, and AIM has a printer for
                            common use. Visitors should bring their own laptops. During
                            workshops a variety of drinks and snacks are available.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
