{% comment %}Sidebar navigation for Resources section. Auto-detects active page.{% endcomment %}
<a href="/resources/" class="{% if request.path == '/resources/' %}active{% endif %}">Resources</a>
<a href="/problem-list/" class="{% if request.path == '/problem-list/' %}active{% endif %}">Problem Lists</a>
<a href="/preprint-series/" class="{% if request.path == '/preprint-series/' %}active{% endif %}">Preprint Series</a>
<a href="/videos/" class="{% if request.path == '/videos/' %}active{% endif %}">Videos</a>
<a href="/open-textbook-initiative/" class="{% if request.path == '/open-textbook-initiative/' %}active{% endif %}">Open Textbook Initiative</a>
<a href="/preTeXt/" class="{% if request.path == '/preTeXt/' %}active{% endif %}">PreTeXt</a>
<a href="/careers-advice/" class="{% if request.path == '/careers-advice/' %}active{% endif %}">Careers Advice</a>
<a href="/library/books/" class="{% if request.path == '/library/books/' %}active{% endif %}">Books</a>
<a href="/reprint-collection/" class="{% if request.path == '/reprint-collection/' %}active{% endif %}">Reprint Collection</a>
<a href="/published-papers/" class="{% if request.path == '/published-papers/' %}active{% endif %}">Published Papers</a>
