{% extends "base.html" %}
{% block content %}
    <div class="container mt-5 mb-5 theme-bg">
        {% if program_page.application_deadline < now %}
            <p class="text-end">Applications are closed for this workshop</p>
        {% endif %}
        <div class="row m-3">
            <div class="text-center">
                <h2>{{ program_page.title |safe }}</h2>
                <span>{{ program_page.start_date }} - {{ program_page.end_date }}</span>
                <p class="mb-0">at the</p>
                <h4>
                    <a href="https://aimath.org" target="_blank">American Institute of Mathematics</a>,  Pasadena, California
                </h4>
            </div>
            <p>This workshop, sponsered by AIM and the NSF, {{ program_page.description | safe }}</p>
            <p>
                This event will be run as an AIM-style workshop. Participants will be invited to suggest open problems and questions before the workshop begins, and these will be posted on the workshop website. These include specific problems on which there is hope of making some progress during the workshop, as well as more ambitious problems which may influence the future activity of the field. Lectures at the workshop will be focused on familiarizing the participants with the background material leading up to specific problems, and the schedule will include discussion and parallel working sessions.
            </p>
            {% if program_page.application_deadline < now %}
                <p>The deadline to apply for support to participate in this workshop has passed.</p>
            {% endif %}
            <p>
                For more information email <i><a href="mailto:workshops@aimath.org">workshops@aimath.org</a></i>
            </p>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/x-mathjax-config">
     MathJax.Hub.Config({
       extensions: ["tex2jax.js", "TeX/AMSmath.js", "TeX/AMSsymbols.js"],
       jax: ["input/TeX", "output/HTML-CSS"],
       tex2jax: {
         inlineMath: [ ['$','$'], ["\\(","\\)"] ],
         displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
         processEscapes: true
       },
       "HTML-CSS": { availableFonts: ["TeX"] }
     });
    </script>
    <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML-full">
    </script>
    <script type="text/javascript"
            src="https://aimath.org/mathbook/mathbook-add-on.js"></script>
{% endblock scripts %}
