{% extends "base.html" %}
{% load cms_tags djangocms_alias_tags %}
{% load static %}
{% block title %}
    {% page_attribute "page_title" %}
{% endblock title %}
{% block content %}
    <section class="header-banner" tag="banner">
        <div class="container">
            <h2>About AIM</h2>
            <h3 class="fst-italic">The American Institute of Mathematics</h3>
        </div>
    </section>
    <div class="container">
        <div class="row mt-5 mb-4">
            <div class="col-auto">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3"
                         id="v-pills-tab"
                         role="tablist"
                         aria-orientation="vertical">
                        <button class="nav-link active"
                                id="about-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#about"
                                type="button"
                                role="tab"
                                aria-controls="about">About</button>
                        <button class="nav-link"
                                id="contact-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#contact"
                                type="button"
                                role="tab"
                                aria-controls="contact">Contact</button>
                        <button class="nav-link"
                                id="staff-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#staff"
                                type="button"
                                role="tab"
                                aria-controls="staff">Staff</button>
                        <button class="nav-link"
                                id="governance-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#governance"
                                type="button"
                                role="tab"
                                aria-controls="governance">Governance</button>
                        <button class="nav-link"
                                id="diversity-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#diversity"
                                type="button"
                                role="tab"
                                aria-controls="diversity">Diversity</button>
                        <button class="nav-link"
                                id="mission-history-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#mission-history"
                                type="button"
                                role="tab"
                                aria-controls="mission-history">Mission & History</button>
                        <button class="nav-link"
                                id="past-programs-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#past-programs"
                                type="button"
                                role="tab"
                                aria-controls="mission-history">Past Programs</button>
                    </div>
                </div>
            </div>
            <div class="col theme-bg">
                <div class="tab-content p-3" id="v-pills-tabContent">
                    <div class="tab-pane fade show active"
                         id="about"
                         role="tabpanel"
                         aria-labelledby="about-tab"
                         tabindex="0">
                        <h1>About</h1>
                        <span class="fs-5">
                            <img src="{% static 'images/landing/about-merkin.jpeg' %}"
                                 alt="View of the mountains from the merkin center"
                                 class="img-fluid float-end ms-2 mb-2"
                                 width="450px"
                                 height="" />
                            {% placeholder "about-content" %}
                        </span>
                    </div>
                    <div class="tab-pane fade"
                         id="contact"
                         role="tabpanel"
                         aria-labelledby="contact-tab"
                         tabindex="0">
                        <h2>Contact</h2>
                        <span class="fs-5">{% placeholder "contact-content" %}</span>
                    </div>
                    <div class="tab-pane fade"
                         id="staff"
                         role="tabpanel"
                         aria-labelledby="staff-tab"
                         tabindex="0">
                        <ul class="nav nav-pills mb-3 justify-content-center"
                            id="pills-tab"
                            role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active"
                                        id="pills-home-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-home"
                                        type="button"
                                        role="tab"
                                        aria-controls="pills-home"
                                        aria-selected="true">Staff</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link"
                                        id="pills-profile-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-profile"
                                        type="button"
                                        role="tab"
                                        aria-controls="pills-profile"
                                        aria-selected="false">Board of Trustees</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link"
                                        id="pills-contact-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-contact"
                                        type="button"
                                        role="tab"
                                        aria-controls="pills-contact"
                                        aria-selected="false">Advisory Board</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active"
                                 id="pills-home"
                                 role="tabpanel"
                                 aria-labelledby="pills-home-tab"
                                 tabindex="0">
                                <div class="content">
                                    {% placeholder "staff_directory" %}
                                    <div class="row mb-2 staff-content">
                                        <div class="col-sm-3">
                                            <img src="{% static 'images/people/claudia-draft.jpg' %}"
                                                 alt="image here"
                                                 style="width: 230px;
                                                        height: 230px" />
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <h3 class="col-sm-3 m-0">Claudia Rodriguez-Solorio</h3>
                                                <a href="" class="col">more info</a>
                                            </div>
                                            <div class="position-tag">Community Outreach and Program Evaluation Specialist</div>
                                            <p>
                                                Dr. Rodriguez-Solorio holds a Ph.D. in Public Policy Analysis
                                                from Pardee RAND Graduate School and a Master of Science in
                                                Applied Mathematics from Arizona State University. Her research
                                                interests include STEM education policy, program evaluation, and
                                                retention strategies for historically underrepresented minority
                                                students in STEM. At AIM, she supports special projects and
                                                outreach initiatives.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- new staff -->
                                    <div class="row mb-2 staff-content">
                                        <div class="col-sm-3">
                                            <img src="{% static 'images/people/terry-draft.jpg' %}"
                                                 alt="image here"
                                                 class="img-fluid"
                                                 style="width: 230px;
                                                        height: 230px" />
                                        </div>
                                        <div class="col-sm-9">
                                            <h3 class="col-sm-3 m-0">Terry Busk</h3>
                                            <a href="" class="col">more info</a>
                                            <div class="clearfix"></div>
                                            <div class="position-tag">Operations Manager</div>
                                            <span>
                                                Terry Busk joined the American Institute of Mathematics in mid
                                                2017 as a logistics specialist supporting AIM’s math research
                                                goals. As a former handyman and martial arts instructor, he’s a
                                                multifaceted jack-of-all trades helping to manage day-to-day
                                                operations, such as lecture recording and production, as well as
                                                web development of both the Math Circles Network and AIM’s
                                                general research goals. In 2020, he assisted in the development
                                                of the MathCommunities.org initiative and continues to support
                                                the development of new technical projects.
                                            </span>
                                        </div>
                                    </div>
                                    <!-- end staff -->
                                    <!-- new staff -->
                                    <div class="row mb-2 staff-content">
                                        <div class="col-sm-3">
                                            <img src="{% static 'images/people/harpreet-draft.jpg' %}"
                                                 alt="image here"
                                                 style="width: 230px;
                                                        height: 230px" />
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <h3 class="col-sm-3 m-0">Harpreet Kaur</h3>
                                                <a href="" class="col">more info</a>
                                            </div>
                                            <div class="position-tag">Executive Assistant</div>
                                            <p>
                                                Harpreet Kaur is assistant to the Director and Deputy Director
                                                and is responsible for most of the logistical aspects of the AIM
                                                workshop and SQuaREs programs. She has a bachelor’s degree in
                                                economics and some additional graduate work from Panjab
                                                University in India.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- end staff -->
                                </div>
                            </div>
                            <div class="tab-pane fade"
                                 id="pills-profile"
                                 role="tabpanel"
                                 aria-labelledby="pills-profile-tab"
                                 tabindex="0">
                                <div class="content">
                                    <div class="row mb-2 staff-content">
                                        <div class="col-sm-3">
                                            <img src="{% static 'images/people/claudia-draft.jpg' %}"
                                                 alt="image here"
                                                 style="width: 230px;
                                                        height: 230px" />
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <h3 class="col-sm-3 m-0">Not Daniel Finkle</h3>
                                                <a href="" class="col">more info</a>
                                            </div>
                                            <div class="position-tag">Community Outreach and Program Evaluation Specialist</div>
                                            <p>
                                                Dr. Rodriguez-Solorio holds a Ph.D. in Public Policy Analysis
                                                from Pardee RAND Graduate School and a Master of Science in
                                                Applied Mathematics from Arizona State University. Her research
                                                interests include STEM education policy, program evaluation, and
                                                retention strategies for historically underrepresented minority
                                                students in STEM. At AIM, she supports special projects and
                                                outreach initiatives.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- new staff -->
                                    <div class="row mb-2 staff-content">
                                        <div class="col-sm-3">
                                            <img src="{% static 'images/people/terry-draft.jpg' %}"
                                                 alt="image here"
                                                 style="width: 230px;
                                                        height: 230px" />
                                        </div>
                                        <div class="col-sm-9">
                                            <h3 class="col-sm-3 m-0">Maybe Daniel Finkle?</h3>
                                            <a href="" class="col">more info</a>
                                            <div class="clearfix"></div>
                                            <div class="position-tag">Operations Manager</div>
                                            <span>
                                                Terry Busk joined the American Institute of Mathematics in mid
                                                2017 as a logistics specialist supporting AIM’s math research
                                                goals. As a former handyman and martial arts instructor, he’s a
                                                multifaceted jack-of-all trades helping to manage day-to-day
                                                operations, such as lecture recording and production, as well as
                                                web development of both the Math Circles Network and AIM’s
                                                general research goals. In 2020, he assisted in the development
                                                of the MathCommunities.org initiative and continues to support
                                                the development of new technical projects.
                                            </span>
                                        </div>
                                    </div>
                                    <!-- end staff -->
                                    <!-- new staff -->
                                    <div class="row mb-2 staff-content">
                                        <div class="col-sm-3">
                                            <img src="{% static 'images/people/harpreet-draft.jpg' %}"
                                                 alt="image here"
                                                 style="width: 230px;
                                                        height: 230px" />
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <h3 class="col-sm-3 m-0">Harpreet Kaur</h3>
                                                <a href="" class="col">more info</a>
                                            </div>
                                            <div class="position-tag">Executive Assistant</div>
                                            <p>
                                                Harpreet Kaur is assistant to the Director and Deputy Director
                                                and is responsible for most of the logistical aspects of the AIM
                                                workshop and SQuaREs programs. She has a bachelor’s degree in
                                                economics and some additional graduate work from Panjab
                                                University in India.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- end staff -->
                                </div>
                            </div>
                            <div class="tab-pane fade"
                                 id="pills-contact"
                                 role="tabpanel"
                                 aria-labelledby="pills-contact-tab"
                                 tabindex="0">
                                <div class="content">
                                    <div class="row mb-2 staff-content">
                                        <div class="col-sm-3">
                                            <img src="{% static 'images/people/claudia-draft.jpg' %}"
                                                 alt="image here"
                                                 style="width: 230px;
                                                        height: 230px" />
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <h3 class="col-sm-3 m-0">Claudia Rodriguez-Solorio</h3>
                                                <a href="" class="col">more info</a>
                                            </div>
                                            <div class="position-tag">Community Outreach and Program Evaluation Specialist</div>
                                            <p>
                                                Dr. Rodriguez-Solorio holds a Ph.D. in Public Policy Analysis
                                                from Pardee RAND Graduate School and a Master of Science in
                                                Applied Mathematics from Arizona State University. Her research
                                                interests include STEM education policy, program evaluation, and
                                                retention strategies for historically underrepresented minority
                                                students in STEM. At AIM, she supports special projects and
                                                outreach initiatives.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- new staff -->
                                    <div class="row mb-2 staff-content">
                                        <div class="col-sm-3">
                                            <img src="{% static 'images/people/terry-draft.jpg' %}"
                                                 alt="image here"
                                                 style="width: 230px;
                                                        height: 230px" />
                                        </div>
                                        <div class="col-sm-9">
                                            <h3 class="col-sm-3 m-0">Terry Busk</h3>
                                            <a href="" class="col">more info</a>
                                            <div class="clearfix"></div>
                                            <div class="position-tag">Operations Manager</div>
                                            <span>
                                                Terry Busk joined the American Institute of Mathematics in mid
                                                2017 as a logistics specialist supporting AIM’s math research
                                                goals. As a former handyman and martial arts instructor, he’s a
                                                multifaceted jack-of-all trades helping to manage day-to-day
                                                operations, such as lecture recording and production, as well as
                                                web development of both the Math Circles Network and AIM’s
                                                general research goals. In 2020, he assisted in the development
                                                of the MathCommunities.org initiative and continues to support
                                                the development of new technical projects.
                                            </span>
                                        </div>
                                    </div>
                                    <!-- end staff -->
                                    <!-- new staff -->
                                    <div class="row mb-2 staff-content">
                                        <div class="col-sm-3">
                                            <img src="{% static 'images/people/harpreet-draft.jpg' %}"
                                                 alt="image here"
                                                 style="width: 230px;
                                                        height: 230px" />
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <h3 class="col-sm-3 m-0">Harpreet Kaur</h3>
                                                <a href="" class="col">more info</a>
                                            </div>
                                            <div class="position-tag">Executive Assistant</div>
                                            <p>
                                                Harpreet Kaur is assistant to the Director and Deputy Director
                                                and is responsible for most of the logistical aspects of the AIM
                                                workshop and SQuaREs programs. She has a bachelor’s degree in
                                                economics and some additional graduate work from Panjab
                                                University in India.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- end staff -->
                                </div>
                            </div>
                        </div>
                        <span class="fs-5">Information about staff members...</span>
                    </div>
                    <div class="tab-pane fade"
                         id="governance"
                         role="tabpanel"
                         aria-labelledby="governance-tab"
                         tabindex="0">
                        <h2>Governance</h2>
                        <span class="fs-5">{% placeholder "governance-content" %}</span>
                    </div>
                    <div class="tab-pane fade"
                         id="diversity"
                         role="tabpanel"
                         aria-labelledby="diversity-tab"
                         tabindex="0">
                        <h2>Diversity</h2>
                        <span class="fs-5">{% placeholder "diversity-content" %}</span>
                    </div>
                    <div class="tab-pane fade"
                         id="mission-history"
                         role="tabpanel"
                         aria-labelledby="mission-history-tab"
                         tabindex="0">
                        <h2>Mission & History</h2>
                        <span class="fs-5">{% placeholder "mission-content" %}</span>
                    </div>
                    <div class="tab-pane fade"
                         id="past-programs"
                         role="tabpanel"
                         aria-labelledby="past-programs-tab"
                         tabindex="0">
                        <h2>Past Programs</h2>
                        <span class="fs-5">{% placeholder "past-programs-content" %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
