{% extends "base.html" %}
{% load cms_tags djangocms_alias_tags %}
{% load static %}
{% block title %}
    Joyful Mathematics For All
{% endblock title %}
{% block content %}
    <section tag="banner">
        <div class="banner-container text-center"
             style="background-color:#90adc6;
                    min-height:150px"
             width="100%">banner text some place</div>
    </section>
    <div class="container">
        <div class="row mt-5 mb-4">
            <div class="col-auto">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3"
                         id="v-pills-tab"
                         role="tablist"
                         aria-orientation="vertical">
                        <button class="nav-link active"
                                id="joyful-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#landing"
                                type="button"
                                role="tab"
                                aria-controls="joyful_mathematics">Joyful Mathematics For All</button>
                        <button class="nav-link"
                                id="aimc-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#aimc"
                                type="button"
                                role="tab"
                                aria-controls="aimc">AIMC</button>
                        <button class="nav-link"
                                id="match-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#match"
                                type="button"
                                role="tab"
                                aria-controls="match">MATCH</button>
                        <button class="nav-link"
                                id="global-math-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#global-math"
                                type="button"
                                role="pill"
                                aria-controls="global">Global Math Project</button>
                        <button class="nav-link"
                                id="math-monday-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#math-monday"
                                type="button"
                                role="tab"
                                aria-controls="math-monday"
                                aria-selected="false">Math Monday</button>
                        <button class="nav-link"
                                id="math-border-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#math-border"
                                type="button"
                                role="tab"
                                aria-controls="math-border"
                                aria-selected="false">Math On The Border</button>
                        <button class="nav-link"
                                id="morgan-hill-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#morgan-hill"
                                type="button"
                                role="tab"
                                aria-controls="morgan-hill"
                                aria-selected="false">Morgan Hill Math</button>
                    </div>
                </div>
            </div>
            <div class="col theme-bg">
                <div class="tab-content p-3" id="v-pills-tabContent">
                    <div class="tab-pane fade show active"
                         id="landing"
                         role="tabpanel"
                         aria-labelledby="v-pills-landing"
                         tabindex="0">
                        <h1>Joyful Math</h1>
                        <span class="fs-5">
                            <img src="{% static 'images/news/milikianpond.jpg' %}"
                                 alt="Alexanderson Award"
                                 class="img-fluid float-end ms-5 mb-3 custom-img"
                                 width="310px"
                                 height="auto" />
                            {% placeholder "Joyful-Math-content" %}
                        </span>
                    </div>
                    <div class="tab-pane fade"
                         id="aimc"
                         role="tabpanel"
                         aria-labelledby="v-pills-aimc"
                         tabindex="0">
                        <h2>AIMC</h2>
                        <span class="fs-6">{% placeholder "aimc-content" %}</span>
                    </div>
                    <div class="tab-pane fade"
                         id="match"
                         role="tabpanel"
                         aria-labelledby="match-tab"
                         tabindex="0">
                        <h2>MATCH</h2>
                        <span class="fs-6">{% placeholder "match-content" %}</span>
                    </div>
                    <div class="tab-pane fade"
                         id="global-math"
                         role="tabpanel"
                         aria-labelledby="global-math-tab"
                         tabindex="0">
                        <h2>Global Math Project</h2>
                        {% placeholder "global-math-project-content" %}
                    </span>
                </div>
                <div class="tab-pane fade"
                     id="math-monday"
                     role="tabpanel"
                     aria-labelledby="math-monday-info"
                     tabindex="0">
                    <h2>Math Monday</h2>
                    <span>{% placeholder "math-monday-content" %}</span>
                </div>
                <div class="tab-pane fade"
                     id="math-border"
                     role="tabpanel"
                     aria-labelledby="v-pills-facilities"
                     tabindex="0">
                    <h2>Math on The Border</h2>
                    <span>{% placeholder "math-on-the-border-content" %}</span>
                </div>
                <div class="tab-pane fade"
                     id="morgan-hill"
                     role="tabpanel"
                     aria-labelledby="v-pills-accessibility"
                     tabindex="0">
                    <h2>Morgan Hill Math</h2>
                    <span>{% placeholder "morgan-hill-content" %}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  const triggerTabList = document.querySelectorAll("#v-pills-tab button");
  triggerTabList.forEach((triggerEl) => {
    const tabTrigger = new bootstrap.Tab(triggerEl);

    triggerEl.addEventListener("click", (event) => {
      event.preventDefault();
      tabTrigger.show();
    });
  });

  const activateTabFromHash = () => {
  if (window.location.hash) {
    let targetHash = window.location.hash;
    console.log(targetHash)
    const triggerEl = document.querySelector(`#v-pills-tab button[data-bs-target="${targetHash}"]`);
    console.log(triggerEl)
    if (triggerEl) {
      let tabInstance = bootstrap.Tab.getInstance(triggerEl);
      if (!tabInstance) {
        tabInstance = new bootstrap.Tab(triggerEl);
      }
      tabInstance.show();
    } else {
      console.log(`No tab found for hash: ${targetHash}`);
    }
  }
};

activateTabFromHash();

window.addEventListener("hashchange", activateTabFromHash, false);
</script>
{% endblock content %}
