{% extends "base.html" %}
{% load cms_tags djangocms_alias_tags %}
{% load static %}
{% block title %}
  {% page_attribute "page_title" %}
{% endblock title %}
{% block content %}
  <section tag="banner">
    <div class="banner-container">
      <img src="{% static 'images/testbanner.png' %}"
           alt=""
           class="banner-container img-fluid" />
    </div>
  </section>
  <div class="container">
    <div class="row mt-5 mb-4">
      <div class="col-auto">
        <div class="d-flex align-items-start">
          <div class="nav flex-column nav-pills me-3"
               id="v-pills-tab"
               role="tablist"
               aria-orientation="vertical">
            <button class="nav-link active"
                    id="news-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#news"
                    type="button"
                    role="tab"
                    aria-controls="visiting">News</button>
            <button class="nav-link"
                    id="news-letter-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#news-letter"
                    type="button"
                    role="tab"
                    aria-controls="news-letter">Newsletter</button>
            <button class="nav-link"
                    id="news-stories-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#news-stories"
                    type="button"
                    role="tab"
                    aria-controls="news-stories">News Stories</button>
          </div>
        </div>
      </div>
      <div class="col theme-bg">
        <div class="tab-content p-3" id="v-pills-tabContent">
          <div class="tab-pane fade show active"
               id="news"
               role="tabpanel"
               aria-labelledby="v-pills-visiting"
               tabindex="0">
            <h2>News</h2>
            <span class="fs-5">
              <img src="{% static 'images/news/milikianpond.jpg' %}"
                   alt="Alexanderson Award"
                   class="img-fluid float-end ms-5 mb-3 custom-img"
                   width="310px"
                   height="auto" />
              {% placeholder 'news-content' %}
            </span>
          </div>
          <div class="tab-pane fade"
               id="news-letter"
               role="tabpanel"
               aria-labelledby="v-pills-codeofconduct"
               tabindex="0">
            <h2>Newsletter</h2>
            <span class="fs-5">{% placeholder 'news-letter-content' %}</span>
          </div>
          <div class="tab-pane fade"
               id="news-stories"
               role="tabpanel"
               aria-labelledby="v-pills-codeofconduct"
               tabindex="0">
            <h2>News Stories</h2>
            <span class="fs-5">{% placeholder 'news-stories-content' %}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
