{% comment %}Sidebar navigation for Visiting section. Auto-detects active page.{% endcomment %}
<a href="/visiting/" class="{% if request.path == '/visiting/' %}active{% endif %}">Visiting</a>
<a href="/visiting/local-information/" class="{% if request.path == '/visiting/local-information/' %}active{% endif %}">Map &amp; Directions</a>
<a href="/visiting/facilities/" class="{% if request.path == '/visiting/facilities/' %}active{% endif %}">The AIM Facility in Pasadena</a>
<a href="/visiting/accessibility/" class="{% if request.path == '/visiting/accessibility/' %}active{% endif %}">Access to the Facility</a>
<a href="/visiting/code-of-conduct/" class="{% if request.path == '/visiting/code-of-conduct/' %}active{% endif %}">Code of Conduct</a>
<a href="/visiting/travel-guidelines/" class="{% if request.path == '/visiting/travel-guidelines/' %}active{% endif %}">Travel Reimbursement Policy</a>
<a href="/visiting/child-care/" class="{% if request.path == '/visiting/child-care/' %}active{% endif %}">Child Care</a>
<a href="/visiting/explore-pasadena/" class="{% if request.path == '/visiting/explore-pasadena/' %}active{% endif %}">Explore Pasadena</a>
<a href="/visiting/faq/" class="{% if request.path == '/visiting/faq/' %}active{% endif %}">FAQ</a>
