{% extends "base.html" %}
{% load static %}
{% load cms_tags %}
{% block title %}
  Home
{% endblock title %}
{% block content %}
  <section label="American Institute of Mathematics Banner">
    <div class="home-banner">
      <img src="{% static 'images/logo.jpeg' %}"
           class="img-fluid"
           width="100%"
           height="auto"
           alt="aim home banner" />
    </div>
  </section>
  <section tag="propose a research activity announcement">
    <div class="p-3" id="propose-activity-banner">
      <div class="container fs-3">
        <div class="row justify-content-around">
          <div class="col-md-4 col-xs-12">
            <a href="#" class="text-decoration-none text-reset">Call For Proposals</a>
          </div>
          <div class="col-md-4 col-xs-12 s">
            <a href="#" class="text-decoration-none text-reset">Deadline: November 1st</a>
          </div>
        </div>
        <div class="row justify-content-around mt-3">
          <div class="col-md-3 col-xs-12">
            <a href="#" class="text-decoration-none text-reset">Workshop</a>
          </div>
          <div class="col-md-3 col-xs-12">
            <a href="#" class="text-decoration-none text-reset">SQuaRE</a>
          </div>
          <div class="col-md-3 col-xs-12">
            <a href="#" class="text-decoration-none text-reset">Research Community</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <main class="container">
    <section tag="NSF Logo Contribution">
      <div class="row mb-2 p-4 align-items-center">
        <div class="col-auto">
          <img src="{% static 'images/NSFlogo.png' %}"
               class="img-fluid"
               alt="nsflogo"
               width="150px"
               height="auto" />
        </div>
        <div class="col">
          <p class="fs-5">
            AIM's goal is to advance mathematical knowledge through
            collaboration, to broaden participation in the mathematical
            endeavor, and to increase the awareness of the contributions of
            the mathematical sciences to society. We are a U.S. National
            Science Foundation (NSF) supported research institute
          </p>
        </div>
      </div>
    </section>
    <section tag="Split-columns News and Workshops">
      <div class="row mb-4">
        <div class="col-md-8 p-1">
          <div class="theme-bg p-3 rounded h-100">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">Recent News</h3>
            {% if featured_article %}
              <img src="{{ featured_article.news_image.url }}"
                   alt="{{ featured_article.title }}"
                   class="img-fluid float-start me-3 mb-3"
                   width="350px"
                   height="auto" />
              <div>
                <h5 class="text-primary-emphasis">{{ featured_article.title }}</h5>
                <p class="fs-5">{{ featured_article.text }}</p>
              </div>
            {% else %}
              <p>no current article</p>
            {% endif %}
          </div>
        </div>
        <div class="col-md-4 col-sm-12 p-1">
          <div class="theme-bg p-3 rounded" id="workshops-container">
            <h3 class="fst-italic pb-4 mb-4 border-bottom">Workshops</h3>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active"
                        id="nav-home-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#nav-home"
                        type="button"
                        role="tab"
                        aria-controls="nav-home"
                        aria-selected="true">Upcoming Workshops</button>
                <button class="nav-link"
                        id="applications-open-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#applications-open"
                        type="button"
                        role="tab"
                        aria-controls="applications-open"
                        aria-selected="false">Open Applications</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active"
                   id="nav-home"
                   role="tabpanel"
                   aria-labelledby="nav-home-tab"
                   tabindex="0">
                <ul class="list-unstyled pt-2" id="workshops-list">
                  {% include "core/upcoming.html" %}
                </ul>
              </div>
              <div class="tab-pane fade"
                   id="applications-open"
                   role="tabpanel"
                   aria-labelledby="applications-open-tab"
                   tabindex="0">
                <ul class="list-unstyled" id="workshops-list">
                </ul>
              </div>
            </div>
            <ul class="list-unstyled" id="workshops-list">
              {% include "core/upcoming.html" %}
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section tag="carousel of images">
      <div class="mb-3 position-relative">
        <button id="prev-btn" class="prev-btn">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="50"
               height="50"
               fill="currentColor"
               class="bi bi-chevron-compact-left"
               viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223" />
          </svg>
        </button>
        <div class="scrolling-wrapper-flexbox" id="horizontal-container">
          <div class="card p-3">
            <li class="list-unstyled h-100">
              <h6 class="mb-0 text-primary-emphasis">AIM moved to Pasadena!</h6>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top h-100"
                 href="#">
                <img src="{% static 'images/news/milikianpond.jpg' %}"
                     class="img-fluid"
                     aria-hidden="true"
                     style="height:100%"
                     alt="pond" />
              </a>
            </li>
            <small class="text-body-secondary">January 15, 2024</small>
          </div>
          <div class="card p-3">
            <li class="list-unstyled" style="height: 100%">
              <h6 class="mb-0">Alexanderson Award</h6>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                 href="#"
                 style="height: 100%">
                <img src="{% static 'images/news/alexandersonAward.jpg' %}"
                     class="img-fluid"
                     width="100%"
                     aria-hidden="true"
                     style="height: 100%" />
              </a>
            </li>
            <small class="text-body-secondary">January 15, 2024</small>
          </div>
          <div class="card p-3">
            <li class="list-unstyled" style="height: 100%">
              <h6 class="mb-0 text-primary-emphasis">AIM moved to Pasadena!</h6>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                 href="#"
                 style="height: 100%">
                <img src="{% static 'images/news/milikianpond.jpg' %}"
                     class="img-fluid"
                     aria-hidden="true"
                     style="height: 100%" />
              </a>
            </li>
            <small class="text-body-secondary">January 15, 2024</small>
          </div>
          <div class="card p-3">
            <li class="list-unstyled" style="height: 100%">
              <h6 class="mb-0">Alexanderson Award</h6>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                 href="#"
                 style="height: 100%">
                <img src="{% static 'images/news/alexandersonAward.jpg' %}"
                     class="img-fluid"
                     width="100%"
                     aria-hidden="true"
                     style="height: 100%" />
              </a>
            </li>
            <small class="text-body-secondary">January 15, 2024</small>
          </div>
          <div class="card p-3">
            <li class="list-unstyled" style="height: 100%">
              <h6 class="mb-0 text-primary-emphasis">AIM moved to Pasadena!</h6>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                 href="#"
                 style="height: 100%">
                <img src="{% static 'images/news/milikianpond.jpg' %}"
                     class="img-fluid"
                     aria-hidden="true"
                     style="height: 100%" />
              </a>
            </li>
            <small class="text-body-secondary">January 15, 2024</small>
          </div>
          <div class="card p-3">
            <li class="list-unstyled" style="height: 100%">
              <h6 class="mb-0">Alexanderson Award</h6>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                 href="#"
                 style="height: 100%">
                <img src="{% static 'images/news/alexandersonAward.jpg' %}"
                     class="img-fluid"
                     width="100%"
                     aria-hidden="true"
                     style="height: 100%" />
              </a>
            </li>
            <small class="text-body-secondary">January 15, 2024</small>
          </div>
        </div>
        <button id="next-btn" class="next-btn">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="50"
               height="50"
               fill="currentColor"
               class="bi bi-chevron-compact-right"
               viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671" />
          </svg>
        </button>
      </div>
    </section>
  </main>
{% endblock content %}
