{% for staff in staff_members %}
    <div class="row mb-2 staff-content">
        <div class="col-sm-3">
            <img src="{{ staff.image.url }}"
                 alt="image here"
                 style="width: 230px;
                        height: 230px" />
        </div>
        <div class="col-sm-9">
            <div class="row">
                <h3 class="col-sm-3 m-0">{{ staff.name }}</h3>
                <a href="{{ staff.more_info_link }}" class="col">more info</a>
            </div>
            {# <div class="position-tag">{{ staff.role }}</div> #}
            hiii
            <p>{{ staff.bio }}</p>
        </div>
    </div>
{% endfor %}
