<p>
    &nbsp;<a href="/workshops/upcoming/groupdynamorigin">Groups of dynamical origin</a>.
    June 3-7, 2024
    &nbsp;
</p>
<p>
    &nbsp;<a href="/workshops/upcoming/symmetrybreaking">Symmetry-breaking of optimal shapes</a>.
    June 17-21, 2024
    &nbsp;
</p>
<p>
    &nbsp;<a href="/workshops/upcoming/alggeominlean">Formalising algebraic geometry</a>.
    June 24-28, 2024
    &nbsp;
</p>
<p>
    &nbsp;<a href="/workshops/upcoming/culturalcognitive">Culturally responsive and cognitively demanding informal mathematics tasks</a>.
    June 30-July 2, 2024
    &nbsp;
</p>
<p>
    &nbsp;<a href="/workshops/upcoming/scissorssteinberg">Scissors congruences, algebraic K-theory and Steinberg modules</a>.
    July 8-12, 2024
    &nbsp;
</p>
<p>
    &nbsp;<a href="/workshops/upcoming/pretextsmall">PreTeXt for small documents</a>.
    July 15-19, 2024
    &nbsp;
</p>
<p>
    &nbsp;<a href="/workshops/upcoming/graphstructureapp">Graph Theory: structural properties, labelings, and connections to applications</a>.
    July 22-26, 2024
    &nbsp;
</p>
<p>
    &nbsp;<a href="/workshops/upcoming/reuf24">Research experiences for undergraduate faculty</a>.
    July 29-August 2, 2024
    &nbsp;
</p>
<p>
    &nbsp;<a href="/workshops/upcoming/oerassessment">Open source mathematics curriculum and assessment tools</a>.
    August 5-9, 2024
    &nbsp;
</p>
<p>
    &nbsp;<a href="/workshops/upcoming/pdecomplexgeom">PDE methods in complex geometry</a>.
    August 26-30, 2024
    &nbsp;
</p>
<p>
    &nbsp;<a href="/workshops/upcoming/finitetensor">Finite tensor categories: their cohomology and geometry</a>.
    September 16-20, 2024
    &nbsp;
</p>
<p>
    &nbsp;<a href="/workshops/upcoming/higherdimlogcy">Higher-dimensional log Calabi-Yau pairs</a>.
    September 30-October 4, 2024
    &nbsp;
</p>
<p>
    *<a href="albertson">Albertson conjecture and related problems</a>.
    October 14-18, 2024
    &nbsp;
</p>
<p>
    *<a href="higherdubois">Higher Du Bois and higher rational singularities</a>.
    October 28-November 1, 2024
    &nbsp;
</p>
<p>
    *<a href="nilpotentarithstat">Nilpotent counting problems in arithmetic statistics</a>.
    November 11-15, 2024
    &nbsp;
</p>
<p>
    *<a href="lowdegreecomplexity">Low-degree polynomial methods in average-case complexity</a>.
    December 9-13, 2024
    &nbsp;
</p>
<p>
    *<a href="motivesandmcg">Motives and mapping class groups</a>.
    January 27-31, 2025
    &nbsp;
</p>
<p>
    *<a href="geometricpdestring">Geometric partial differential equations from unified string theories</a>.
    February 10-14, 2025
    &nbsp;
</p>
