{% extends "base.html" %}
{% load static %}
{% block title %}
    code of conduct
{% endblock title %}
{% block content %}
    <section tag="banner">
        <div class="banner-container"
             style="background-color: var(--aimblue);
                    min-height:185px">
            <p class="banner-text ps-4">Focused Collaborative Research</p>
        </div>
    </section>
    <div class="container">
        <div class="row mt-5 mb-4">
            <div class="col-auto">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3"
                         id="v-pills-tab"
                         role="tablist"
                         aria-orientation="vertical">
                        <button class="nav-link active"
                                id="focused-landing-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#focused-landing"
                                type="button"
                                role="tab"
                                aria-controls="focused-collaborative-research">Focused Collaborative Research</button>
                        <button class="nav-link"
                                id="workshops-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#workshops"
                                type="button"
                                role="tab"
                                aria-controls="workshops">Workshops</button>
                        <button class="nav-link"
                                id="squares-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#squares"
                                type="button"
                                role="tab"
                                aria-controls="squares">SQuaREs</button>
                        <button class="nav-link"
                                id="research-communities-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#research-communities"
                                type="button"
                                role="tab"
                                aria-controls="research-communities">Research Communities</button>
                        <button class="nav-link"
                                id="reuf-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#reuf"
                                type="button"
                                role="tab"
                                aria-controls="reuf">REUF</button>
                        <button class="nav-link"
                                id="roots-of-unity-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#roots-of-unity"
                                type="button"
                                role="tab"
                                aria-controls="roots-of-unity">Roots of Unity</button>
                        <button class="nav-link"
                                id="alexanderson-award-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#alexanderson-award"
                                type="button"
                                role="tab"
                                aria-controls="alexanderson-award">Alexanderson Award</button>
                    </div>
                </div>
            </div>
            <div class="col theme-bg">
                <div class="tab-content p-3" id="v-pills-tabContent">
                    <div class="tab-pane fade show active"
                         id="focused-landing"
                         role="tabpanel"
                         aria-labelledby="focused-landing-tab"
                         tabindex="0">
                        <h1>Focused Collaborative Research</h1>
                        <span class="fs-5">
                            <img src="{% static 'images/news/milikianpond.jpg' %}"
                                 alt="Alexanderson Award"
                                 class="img-fluid float-end ms-5 mb-3 custom-img"
                                 width="310px"
                                 height="auto" />
                            <p>
                                The open exchange of ideas, the freedom of thought and expression,
                                and respectful scientific debate are central to the mission of the
                                American Institute of Mathematics. This requires a community that
                                recognizes and respects the inherent worth of every person.The open exchange of ideas, the freedom of thought and expression,
                                and respectful scientific debate are central to the mission of the
                                American Institute of Mathematics. This requires a community that
                                recognizes and respects the inherent worth of every person.The open exchange of ideas, the freedom of thought and expression,
                                and respectful scientific debate are central to the mission of the
                                American Institute of Mathematics. This requires a community that
                                recognizes and respects the inherent worth of every person.The open exchange of ideas, the freedom of thought and expression,
                                and respectful scientific debate are central to the mission of the
                                American Institute of Mathematics. This requires a community that
                                recognizes and respects the inherent worth of every person.
                            </p>
                            <p>
                                he open exchange of ideas, the freedom of thought and expression,
                                and respectful scientific debate are central to the mission of the
                                American Institute of Mathematics. This requires a community that
                                recognizes and respects the inherent worth of every person.The open exchange of ideas, the freedom of thought and expression,
                                and respectful scientific debate are central to the mission of the
                                American Institute of Mathematics. This requires a community that
                                recognizes and respects the inherent worth of every person.
                            </p>
                            The open exchange of ideas, the freedom of thought and expression,
                            and respectful scientific debate are central to the mission of the
                            American Institute of Mathematics. This requires a community that
                            recognizes and respects the inherent worth of every person.
                            The open exchange of ideas, the freedom of thought and expression,
                            and respectful scientific debate are central to the mission of the
                            American Institute of Mathematics. This requires a community that
                            recognizes and respects the inherent worth of every person.
                        </span>
                    </div>
                    <div class="tab-pane fade"
                         id="workshops"
                         role="tabpanel"
                         aria-labelledby="workshops-tab"
                         tabindex="0">
                        <h2>Workshops</h2>
                        <span class="fs-6">AIM hosts focused workshops in all areas of the mathematical sciences. AIM focused workshops are distinguished by their emphasis on a specific mathematical goal, such as making progress on a significant unsolved problem, understanding the proof of an important new result, or examining the convergence of two distinct areas of mathematics.
                            <br>
                            <br>
                            AIM focused workshops provide an ideal forum for a team of researchers working together to map out strategies, set priorities, work toward a solution, and set in place a framework for progress on important mathematical problems. The leaders in each field are involved in the planning of the workshops, and junior scientists and graduate students are active participants. Special attention is devoted to facilitate collaborations which include women, minorities, and researchers at primarily undergraduate institutions.
                            <br>
                            <br>
                        </span>
                    </div>
                    <div class="tab-pane fade"
                         id="squares"
                         role="tabpanel"
                         aria-labelledby="squares-tab"
                         tabindex="0">
                        <h2>SQuaREs</h2>
                        <span class="fs-6">Reports can be made to any member of the AIM staff, to codeofconduct@aimath.org, or by using this anonymous form.
                            <br>
                            <br>
                            The open exchange of ideas, the freedom of thought and expression, and respectful scientific debate are central to the mission of the American Institute of Mathematics. This requires a community that recognizes and respects the inherent worth of every person.
                            <br>
                            <br>
                            We are committed to providing an environment that is free from harassment, bullying, discrimination, and retaliation. This includes offensive comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, race, ethnicity, religious (or nonreligious) affiliation, politics, or any other personal characteristics.
                            <br>
                            <br>
                            We do not tolerate:
                            <br>
                            <ul>
                                <li>Bullying, intimidation, personal attacks, harassment, vulgar exchanges;</li>
                                <li>Repeated and/or sustained disruption of talks or other events;</li>
                                <li>Behavior that interferes with another person’s full participation;</li>
                                <li>
                                    Sexual harassment, unwelcome sexual attention, stalking, harassing photographs or recordings, or inappropriate physical contact.
                                </li>
                            </ul>
                            Those in violation of the code of conduct may be subject to disciplinary action ranging from dismissal from a meeting or event to permanent barring from the Institute, as determined on a case-by-case basis by our leadership or representatives.
                            Adherence to this code of conduct is expected of all staff, visitors, and program participants. This code applies both to in-person behaviors and when using any communication channels, including social media. In addition, the code requires all staff, visitors, and participants to respect requests for confidentiality during scientific talks.
                            We believe our code of conduct is essential to the success of our mission. Mutual respect for one another will truly stimulate our best performance.
                            If you have any questions, or want to report a violation of this code, please email: codeofconduct@aimath.org or complete this anonymous form.
                        </span>
                    </div>
                    <div class="tab-pane fade"
                         id="research-communities"
                         role="tabpanel"
                         aria-labelledby="research-communities-tab"
                         tabindex="0">
                        <h2>Research Communities</h2>
                        <br>
                        <h4>In July 2023 AIM began operating in its new location on the Caltech campus in Pasadena, CA.</h4>
                        <span class="fs-6">
                            For fully funded participants AIM arranges hotel lodging and pays the hotel directly. AIM also provides a per diem meal allowance and a travel allowance for airfare and ground transportation from participants’ home institutions. Because funding comes from the National Science Foundation, there are travel requirements that must be met in order to qualify for the travel allowance. Participants must use the most cost-effective means of travel, which means economy class tickets for air travel. Guidelines do not allow reimbursement for insurance, priority boarding, seat selection, economy plus, business class, or first class tickets.
                            <br>
                            <br>
                            If your travel plans are unusual for some reason (you are not traveling to and from your home institution, you require an open-jaw or open-return ticket, etc.) or if your travel expenses will exceed the guidelines below, please document the expenses and send the information to Harpreet Kaur (kaur@aimath.org) for approval before completing the purchase. If your expenses are significantly higher than these guidelines and you have not received approval in advance, AIM may not be able to reimburse the full cost of your trip. Our FAQ for AIM Participants has some additional information.
                            <br>
                            <br>
                            Airfare: The closest airports to Pasadena are Burbank Airport (BUR) and Los Angeles International (LAX). BUR is much closer and ground transportation is much easier, but there are fewer flights and destinations available compared to LAX. Other airports in the area are Long Beach (LGB), Ontario (ONT), and John Wayne (SNA). If you find a cheaper airfare to one of those airports, be sure to estimate the higher ground transportation costs before finalizing your booking.
                            <br>
                            <br>
                            Please purchase economy class tickets for air travel at least 30 days in advance. AIM cannot reimburse the cost of travel insurance, priority boarding, seat selection, economy plus, business class, or first class tickets. Guidelines for airfare (including checked bag fees):
                            <br>
                            <br>
                            <ol>
                                <li>within California – $350</li>
                                <li>within North America - $750</li>
                                <li>from Europe - $1400</li>
                                <li>other overseas travel - $1800</li>
                            </ol>
                        </span>
                    </div>
                    <div class="tab-pane fade"
                         id="reuf"
                         role="tabpanel"
                         aria-labelledby="reuf-tab"
                         tabindex="0">...</div>
                    <div class="tab-pane fade"
                         id="roots-of-unity"
                         role="tabpanel"
                         aria-labelledby="roots-of-unity-tab"
                         tabindex="0">raise the ROOTS</div>
                    <div class="tab-pane fade"
                         id="alexanderson-award"
                         role="tabpanel"
                         aria-labelledby="alexanderson-award-tab"
                         tabindex="0">...</div>
                </div>
            </div>
        </div>
    </div>
    <script>
  const triggerTabList = document.querySelectorAll("#v-pills-tab button");
  triggerTabList.forEach((triggerEl) => {
    const tabTrigger = new bootstrap.Tab(triggerEl);

    triggerEl.addEventListener("click", (event) => {
      event.preventDefault();
      tabTrigger.show();
    });
  });

  const activateTabFromHash = () => {
  if (window.location.hash) {
    let targetHash = window.location.hash;
    console.log(targetHash)
    const triggerEl = document.querySelector(`#v-pills-tab button[data-bs-target="${targetHash}"]`);
    console.log(triggerEl)
    if (triggerEl) {
      let tabInstance = bootstrap.Tab.getInstance(triggerEl);
      if (!tabInstance) {
        tabInstance = new bootstrap.Tab(triggerEl);
      }
      tabInstance.show();
    } else {
      console.log(`No tab found for hash: ${targetHash}`);
    }
  }
};

activateTabFromHash();

window.addEventListener("hashchange", activateTabFromHash, false);
    </script>
{% endblock content %}
