{% extends "base.html" %}
{% load static %}
{% block title %}
    Joyful Mathematics For All
{% endblock title %}
{% block content %}
    <section tag="banner">
        <div class="banner-container text-center"
             style="background-color:#90adc6;
                    min-height:150px"
             width="100%">banner text some place</div>
    </section>
    <div class="container">
        <div class="row mt-5 mb-4">
            <div class="col-auto">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3"
                         id="v-pills-tab"
                         role="tablist"
                         aria-orientation="vertical">
                        <button class="nav-link active"
                                id="joyful-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#landing"
                                type="button"
                                role="tab"
                                aria-controls="joyful_mathematics">Joyful Mathematics For All</button>
                        <button class="nav-link"
                                id="aimc-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#aimc"
                                type="button"
                                role="tab"
                                aria-controls="code-of-conduct">AIMC</button>
                        <button class="nav-link"
                                id="match-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#match"
                                type="button"
                                role="tab"
                                aria-controls="aimc">MATCH</button>
                        <button class="nav-link"
                                id="global-math-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#global-math"
                                type="button"
                                role="pill"
                                aria-controls="match"
                                aria-selected="false">Global Math Project</button>
                        <button class="nav-link"
                                id="math-monday-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#math-monday"
                                type="button"
                                role="tab"
                                aria-controls="math-monday"
                                aria-selected="false">Math Monday</button>
                        <button class="nav-link"
                                id="math-border-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#math-border"
                                type="button"
                                role="tab"
                                aria-controls="math-border"
                                aria-selected="false">Math On The Border</button>
                        <button class="nav-link"
                                id="morgan-hill-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#morgan-hill"
                                type="button"
                                role="tab"
                                aria-controls="morgan-hill"
                                aria-selected="false">Morgan Hill Math</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active"
                         id="landing"
                         role="tabpanel"
                         aria-labelledby="v-pills-landing"
                         tabindex="0">
                        <h2 class="text-center">Joyful Math</h2>
                        <span class="fs-5">
                            <img src="{% static 'images/news/alexandersonAward.jpg' %}"
                                 alt="Alexanderson Award"
                                 class="img-fluid float-end me-3 mb-3"
                                 width="310px"
                                 height="auto" />
                            The open exchange of ideas, the freedom of thought and expression,
                            and respectful scientific debate are central to the mission of the
                            American Institute of Mathematics. This requires a community that
                            recognizes and respects the inherent worth of every person.
                        </span>
                    </div>
                    <div class="tab-pane fade"
                         id="aimc"
                         role="tabpanel"
                         aria-labelledby="v-pills-aimc"
                         tabindex="0">
                        <h2>Code Of Conduct</h2>
                        <span class="fs-6">Reports can be made to any member of the AIM staff, to
                            codeofconduct@aimath.org, or by using this anonymous form.
                            <br />
                            <br />
                            The open exchange of ideas, the freedom of thought and expression,
                            and respectful scientific debate are central to the mission of the
                            American Institute of Mathematics. This requires a community that
                            recognizes and respects the inherent worth of every person.
                            <br />
                            <br />
                            We are committed to providing an environment that is free from
                            harassment, bullying, discrimination, and retaliation. This includes
                            offensive comments related to gender, gender identity and
                            expression, age, sexual orientation, disability, physical
                            appearance, race, ethnicity, religious (or nonreligious)
                            affiliation, politics, or any other personal characteristics.
                            <br />
                            <br />
                            We do not tolerate:
                            <br />
                            <ul>
                                <li>
                                    Bullying, intimidation, personal attacks, harassment, vulgar
                                    exchanges;
                                </li>
                                <li>Repeated and/or sustained disruption of talks or other events;</li>
                                <li>
                                    Behavior that interferes with another person’s full
                                    participation;
                                </li>
                                <li>
                                    Sexual harassment, unwelcome sexual attention, stalking,
                                    harassing photographs or recordings, or inappropriate physical
                                    contact.
                                </li>
                            </ul>
                            Those in violation of the code of conduct may be subject to
                            disciplinary action ranging from dismissal from a meeting or event
                            to permanent barring from the Institute, as determined on a
                            case-by-case basis by our leadership or representatives. Adherence
                            to this code of conduct is expected of all staff, visitors, and
                            program participants. This code applies both to in-person behaviors
                            and when using any communication channels, including social media.
                            In addition, the code requires all staff, visitors, and participants
                            to respect requests for confidentiality during scientific talks. We
                            believe our code of conduct is essential to the success of our
                            mission. Mutual respect for one another will truly stimulate our
                            best performance. If you have any questions, or want to report a
                            violation of this code, please email: codeofconduct@aimath.org or
                            complete this anonymous form.
                        </span>
                    </div>
                    <div class="tab-pane fade"
                         id="match"
                         role="tabpanel"
                         aria-labelledby="match-tab"
                         tabindex="0">
                        <h2>Directions</h2>
                        <span class="fs-6">Reports can be made to any member of the AIM staff, to
                            codeofconduct@aimath.org, or by using this anonymous form.
                            <br />
                            <br />
                            The open exchange of ideas, the freedom of thought and expression,
                            and respectful scientific debate are central to the mission of the
                            American Institute of Mathematics. This requires a community that
                            recognizes and respects the inherent worth of every person.
                            <br />
                            <br />
                            We are committed to providing an environment that is free from
                            harassment, bullying, discrimination, and retaliation. This includes
                            offensive comments related to gender, gender identity and
                            expression, age, sexual orientation, disability, physical
                            appearance, race, ethnicity, religious (or nonreligious)
                            affiliation, politics, or any other personal characteristics.
                            <br />
                            <br />
                            We do not tolerate:
                            <br />
                            <ul>
                                <li>
                                    Bullying, intimidation, personal attacks, harassment, vulgar
                                    exchanges;
                                </li>
                                <li>Repeated and/or sustained disruption of talks or other events;</li>
                                <li>
                                    Behavior that interferes with another person’s full
                                    participation;
                                </li>
                                <li>
                                    Sexual harassment, unwelcome sexual attention, stalking,
                                    harassing photographs or recordings, or inappropriate physical
                                    contact.
                                </li>
                            </ul>
                            Those in violation of the code of conduct may be subject to
                            disciplinary action ranging from dismissal from a meeting or event
                            to permanent barring from the Institute, as determined on a
                            case-by-case basis by our leadership or representatives. Adherence
                            to this code of conduct is expected of all staff, visitors, and
                            program participants. This code applies both to in-person behaviors
                            and when using any communication channels, including social media.
                            In addition, the code requires all staff, visitors, and participants
                            to respect requests for confidentiality during scientific talks. We
                            believe our code of conduct is essential to the success of our
                            mission. Mutual respect for one another will truly stimulate our
                            best performance. If you have any questions, or want to report a
                            violation of this code, please email: codeofconduct@aimath.org or
                            complete this anonymous form.
                        </span>
                    </div>
                    <div class="tab-pane fade"
                         id="global-math"
                         role="tabpanel"
                         aria-labelledby="global-math-tab"
                         tabindex="0">
                        <h2>Travel Restrictions for Workshop and SQuaRE Participants</h2>
                        <br />
                        <h4>
                            In July 2023 AIM began operating in its new location on the Caltech
                            campus in Pasadena, CA.
                        </h4>
                        <span class="fs-6">
                            For fully funded participants AIM arranges hotel lodging and pays
                            the hotel directly. AIM also provides a per diem meal allowance and
                            a travel allowance for airfare and ground transportation from
                            participants’ home institutions. Because funding comes from the
                            National Science Foundation, there are travel requirements that must
                            be met in order to qualify for the travel allowance. Participants
                            must use the most cost-effective means of travel, which means
                            economy class tickets for air travel. Guidelines do not allow
                            reimbursement for insurance, priority boarding, seat selection,
                            economy plus, business class, or first class tickets.
                            <br />
                            <br />
                            If your travel plans are unusual for some reason (you are not
                            traveling to and from your home institution, you require an open-jaw
                            or open-return ticket, etc.) or if your travel expenses will exceed
                            the guidelines below, please document the expenses and send the
                            information to Harpreet Kaur (kaur@aimath.org) for approval before
                            completing the purchase. If your expenses are significantly higher
                            than these guidelines and you have not received approval in advance,
                            AIM may not be able to reimburse the full cost of your trip. Our FAQ
                            for AIM Participants has some additional information.
                            <br />
                            <br />
                            Airfare: The closest airports to Pasadena are Burbank Airport (BUR)
                            and Los Angeles International (LAX). BUR is much closer and ground
                            transportation is much easier, but there are fewer flights and
                            destinations available compared to LAX. Other airports in the area
                            are Long Beach (LGB), Ontario (ONT), and John Wayne (SNA). If you
                            find a cheaper airfare to one of those airports, be sure to estimate
                            the higher ground transportation costs before finalizing your
                            booking.
                            <br />
                            <br />
                            Please purchase economy class tickets for air travel at least 30
                            days in advance. AIM cannot reimburse the cost of travel insurance,
                            priority boarding, seat selection, economy plus, business class, or
                            first class tickets. Guidelines for airfare (including checked bag
                            fees):
                            <br />
                            <br />
                            <ol>
                                <li>within California – $350</li>
                                <li>within North America - $750</li>
                                <li>from Europe - $1400</li>
                                <li>other overseas travel - $1800</li>
                            </ol>
                        </span>
                    </div>
                    <div class="tab-pane fade"
                         id="math-monday"
                         role="tabpanel"
                         aria-labelledby="math-monday-info"
                         tabindex="0">math monday wooohooo!</div>
                    <div class="tab-pane fade"
                         id="math-border"
                         role="tabpanel"
                         aria-labelledby="v-pills-facilities"
                         tabindex="0">math border woohooo</div>
                    <div class="tab-pane fade"
                         id="morgan-hill"
                         role="tabpanel"
                         aria-labelledby="v-pills-accessibility"
                         tabindex="0">Morgan hill wooohooo</div>
                    <div class="tab-pane fade"
                         id="faq"
                         role="tabpanel"
                         aria-labelledby="v-pills-faq"
                         tabindex="0">...</div>
                </div>
            </div>
        </div>
    </div>
    <script>
  const triggerTabList = document.querySelectorAll("#v-pills-tab button");
  triggerTabList.forEach((triggerEl) => {
    const tabTrigger = new bootstrap.Tab(triggerEl);

    triggerEl.addEventListener("click", (event) => {
      event.preventDefault();
      tabTrigger.show();
    });
  });

  const activateTabFromHash = () => {
  if (window.location.hash) {
    let targetHash = window.location.hash;
    console.log(targetHash)
    const triggerEl = document.querySelector(`#v-pills-tab button[data-bs-target="${targetHash}"]`);
    console.log(triggerEl)
    if (triggerEl) {
      let tabInstance = bootstrap.Tab.getInstance(triggerEl);
      if (!tabInstance) {
        tabInstance = new bootstrap.Tab(triggerEl);
      }
      tabInstance.show();
    } else {
      console.log(`No tab found for hash: ${targetHash}`);
    }
  }
};

activateTabFromHash();

window.addEventListener("hashchange", activateTabFromHash, false);
    </script>
{% endblock content %}
